{% extends "base.html" %}



{% block title %}{{filename}}{% end %}



{% block nav_list %} 

<li><a>{{filename}}</a></li>

{% end %}

{% block extra_nav %}
<div class="pull-right">
  <button class="btn btn-success" id="autosc" onclick="autoscroll();"> AutoScroll </button>
  <a class="btn btn-info" id="savebutton" target="iframe" download="{{filename}}" href="#" onclick="save();"> Save </a>
</div>
{% end %}



{% block body_html %}

  {% block lumberbuffer_area %}
    <pre class="lumberbuffer">
      {{ lumberfile }}
    </pre>
  {% end %}

  <div id="bottom" />

  <script type="text/javascript">

     function autoscroll() {
	 window.autosc = ! window.autosc
	 $('#autosc').attr('class', function(i, val){
	     return window.autosc === true ? 'btn btn-danger' : 'btn btn-success'
	 });
	 if (window.autosc === true) {
	     window.onData = function(numRows){ location.assign('#bottom'); };
	 } else {
	     window.onData = function(numRows){ };
	 }
     }


    function save() {
	$('#savebutton').attr( 'href', 
			       'data:Content-type: text/plain, '+
			       escape($('.lumberbuffer').text()) )
    }


    $(document).ready(function(){
	window.autosc = false;
	window.onData = function(numRows){ }; //no-op
	var sockurl = document.documentURI.replace(/#.*/, "")+"/socket";
	sockurl = sockurl.replace(/https?/, "ws");
	var wsock = new WebSocket(sockurl);
	
	wsock.onmessage = function(event) {
	    $( $.parseJSON(event.data).logs ).each( function(i, item) {
		$('.lumberbuffer').append(item+'\n')
	    });
	    window.onData();
	}
	
	wsock.onopen = function(){
	    console.log("Connection to "+sockurl+" succeeded.");
	}
	
	wsock.onclose = function(){
	    console.log("Connection to "+sockurl+" closed.");
	}
    });
  </script>
    
{% end %} <!-- end body -->
    
