{% extends "base.html" %}

{% block title %} Available Buffers {% end %}

{% block body_html %}
<h1> Available files: </h1>

{% for fellow in fellows %}
<div class="row">
  <div class="span3" id="{{fellow.name}}">
    <h4>{{fellow.name}}</h4>
  </div>
  <div class="span6">

    <div class="span3">
      <p>Last checked in at: {{fellow.last_checked_in}}</p>
      <p>Curfew: {{fellow.curfew}}</p>
    </div>
    
    <div class="span6">
      <ul class="lumberfile-list">
	{% for lumberfile in fellow.lumberfiles %}
	<li>
	  <div class="lumberfile_label" id="{{lumberfile.slug}}">
	    <a href="/{{lumberfile.slug}}">{{lumberfile.path}}</a>
	  </div>
	</li>
	{% end %}
      </ul> <!-- end lumberfile-list -->
    </div>
    
  </div>
</div>
{% end %} <!-- end fellow list -->


{% end %} <!-- end body -->
